<div class="row">
  <h3>Cardiovascular Training</h3>
</div>
<div class="row">
  <div class="col-md-4">
    <button
      (click)="openDialog()"
      class="btn btn-primary btn-primary-theme mt-3 w-100"
      type="button"
    >
      Add Exercise
    </button>
  </div>
</div>
<div class="row table-responsive">
  <table class="table table-dark table-striped mt-3 text-center">
    <thead *ngIf="cardioExercises && cardioExercises.length > 0">
      <tr>
        <th scope="col" class="d-none d-sm-table-cell" width="15%">#</th>
        <th scope="col" width="15%">Actions</th>
        <th scope="col" width="25%">Exercise</th>
        <th scope="col" width="15%">Minutes (min)</th>
        <th scope="col" width="15%">Calories (kcal)</th>
        <th scope="col" width="15%"></th>
      </tr>
    </thead>
    <tbody>
      @for(exercise of cardioExercises;track exercise.id; let i = $index){
      <tr>
        <th scope="row" class="d-none d-sm-table-cell">{{ i + 1 }}</th>
        <td>
          <div class="d-flex align-items-center">
            <fa-icon
              (click)="EditExercise(exercise.id, exercise)"
              class="me-3 cursor-pointer"
              [icon]="faPen"
            ></fa-icon>
            <fa-icon
              (click)="DeleteExercise(exercise.id)"
              class="cursor-pointer me-3"
              [icon]="faTrash"
            ></fa-icon>
            <fa-icon
                *ngIf="exercise.nota"
                #tooltip="matTooltip"
                (click)="tooltip.toggle()"
                class="cursor-pointer"
                [icon]="faComment"
                [matTooltip]="exercise.nota"
                matTooltipPosition="above"
              ></fa-icon>
          </div>
        </td>
        <td>{{ exercise.nome }}</td>
        <td>{{ exercise.minutos }}</td>
        <td>{{ exercise.calorias }}</td>
        <td></td>
      </tr>
      } @empty{
      <tr>
        <td colspan="3"><h3>Exercises not found</h3></td>
      </tr>
      }
    </tbody>
  </table>
</div>
